circle,
rect,
line {
  stroke-width: 5px;
  /* stroke-linecap: round; */
  fill: transparent;
}
.point {
  width: 50px;
  height: 2px;
  background: black;
  transition: width 1s ease;
}

.point:hover {
  width: 100px;
}

.how {
  height: 2em;
  margin: 2px 0;
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  display: block;

  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.button:hover {
  background-position: left bottom;
}
